.team{
    grid-area: "web-content";
    color: rgba(255,255,255);
    text-shadow: .1vmin .1vmin 0 rgb(208, 46, 243);
    font-family: $font-family;
    display: grid;
    grid-column: 1fr 2fr;
    padding: 50px 0;
    grid-template-areas: "logo description" "carrousel carrousel";
  }

  .team-description{
  grid-area: description;
  padding: 0 5%;
}