.validators-information{
    display: grid;
    grid-area: information;
    color: rgba(255,255,255);
    text-shadow: .1vmin .1vmin 0 rgb(208, 46, 243);
    font-family: $font-family;
  
    h1 {
        font-family: inherit;
    }
}