@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

@keyframes float {
	0% {
		transform: translatey(0px);

	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@keyframes float2 {
	0% {
		transform: translatey(0px)
    translateX(0px);
	}
	50% {
		transform: translatey(-20px)
    translateX(-15px);
	}
	100% {
		transform: translatey(0px)
    translateX(0px);

	}
}

.index-content-banner {
    grid-area: banner;
    display: grid;
    grid-template-areas: ". . ." ". text ." ". . .";
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    margin: 0;
    overflow: hidden;

    .subtitle{
      font-size: medium;
      text-shadow: .5vmin .5vmin 0 rgb(208, 46, 243), -.5vmin -.5vmin 0 rgb(21,5,106);
    }
    transform: translatey(0px);
  	animation: float 6s ease-in-out infinite;
}

.title-banner {
  transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg);
  grid-area: text;
  font-size: 500%;
  margin: auto;
  padding: 30px;
  background-color: none;
  color: rgba(255,255,255);
  text-shadow: 1.1vmin 1.1vmin 0 rgb(208, 46, 243), -1.1vmin -1.1vmin 0 rgb(21,5,106);
}