.calendar {
    transform:
    rotateX(5deg)
    rotateZ(5deg);
    list-style-type: none;

    display: grid;
    grid-template-areas: "days" "numbers";
    
    .days {
        box-sizing: border-box;
        width: 100%;
        padding: 12% 6% 0 6%;
        border-radius: 45% 45% 0 0;
        border:solid rgb(57, 56, 56);
        border-width:5px 4px;
    
        background-color: black;
        color: white;
        grid-area: days;
        .weekdays {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "1 2 3 4 5 6 7";
            div{
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
    
    .numbers{
        box-sizing: border-box;
        width: 100%;
        padding: 6% 6% 6% 6%;
        border:solid rgb(57, 56, 56);
        border-width: 0 5px 5px 4px ;

        background:
        linear-gradient(rgb(176, 59, 200), transparent),
        linear-gradient(to top left, rgb(170, 60, 154), transparent),
        linear-gradient(to top right, rgb(255, 255, 4), transparent);    
        border-radius: 0 0 25% 25%;
        grid-area: numbers;
        
        .week {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "1 2 3 4 5 6 7";
            div{
                display: flex;
                justify-content: space-evenly;
            }
            div:nth-child(3), div:nth-child(5), div:nth-child(6), div:nth-child(7) {
                border:solid black;
                border-width:3px;                    
                border-radius: 50%;
            }
    
        }

        .lastWeek {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "1 2 3 4 5 6 7";
            div{
                display: flex;
                justify-content: space-evenly;
            }
            div:nth-child(3) {
                border:solid black;
                border-width:3px;                    
                border-radius: 50%;
            }
    
        }
    }



}