.index-content-text {
    grid-area: calendar;
    margin: auto ;
    font-size: 25px;
    width: 370px;
    transform: translateY(0);
    animation: float2 8s ease-in-out infinite;
    color: white;
    li{
        list-style-type: none; /* Remove bullets */
        padding-left: 25px;
    }
    p{
        color: white;
        background-color: none;    
        text-align: center;    
    }
    .index-content-text-lines{
        margin-bottom: 50px;
    }
}