@import "./variables";
@import "./titleBar";
@import "./contact-content";
@import "./about-content";
@import "./footer";
@import "./stars";


@import "./Index/banner";
@import "./Index/calendar";
@import "./Index/index-content";
@import "./Index/index-text.scss";

@import "Team/team.scss";
@import "Team/teamCarrousel.scss";
@import "Team/teamLogo.scss";
@import "Team/teamMember.scss";

@import "Links/links.scss";
@import "Links/portals.scss";

@import "Validators/validators.scss";
@import "Validators/validatorsInformation.scss";
@import "Validators/validatorsRunning.scss";


@font-face {
    font-family: 'Soloist';
    src: local('Soloist'), url(../fonts/soloist/soloist1.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

body {
    margin: 0 !important;
    padding: 0 !important;
}

@media all and (min-width: 900px) {
    .portrait {
        //background
        background-image: linear-gradient(rgba(0, 0, 0, 0.3527),rgba(0, 0, 0, 0.35)) , url(../img/background.png);
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        // structure
        display: grid;
        grid-template-areas: "title-bar" "web-content" "footer";
    }
    .main {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3527),rgba(0, 0, 0, 0.35)) , url(../img/background.png);
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: grid;
        grid-template-columns: 3fr 15fr 3fr;
        grid-gap: 15px;
        background-color: rgba(255,255,255,.75);
        grid-template-areas: "title-bar title-bar title-bar" "nothing-left web-content nothing-right" "footer footer footer";
    }
    .nothing-right {
        grid-area: nothing-right;
    }
    .nothing-left {
        grid-area: nothing-left;
    }
}

@media all and (max-width: 900px) {
    .portrait {
        // background only
        background-image: linear-gradient(rgba(0, 0, 0, 0.3527),rgba(0, 0, 0, 0.35)) , url(../img/background.png);
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        // rest
        grid-template-areas: "title-bar" "web-content" "footer";
    }
    .main {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3527),rgba(0, 0, 0, 0.35)) , url(../img/background.png);
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:100%;

        display: grid;
        grid-template-areas: "title-bar" "web-content" "footer";
    }
    .nothing-right {
        display: none !important;
    }
    .nothing-left {
        display: none !important;
    }
}