@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

.index-content-banner {
    grid-area: "banner";
    display: grid;
    grid-template-areas: ". . ." ". text ." ". . .";
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    margin: 0;
    overflow: hidden;    
}

.title-banner {
  transform: skew(#{$rotationAmt}deg) rotate(#{$rotationAmt}deg);
  grid-area: text;
  font-size: 500%;
  margin: auto;
  padding: 30px;
  color: rgba(255,255,255);
  text-shadow: 1.1vmin 1.1vmin 0 rgb(208, 46, 243), -1.1vmin -1.1vmin 0 rgb(21,5,106);
}