@media all and (max-width: 900px) {
    .contact-content {
        grid-area: $content;
        border-radius: 18px;
        background: $content-back-color;
        box-shadow: -5px 5px 10px $content-shadow-color, -1px 1px 5px $content-shadow-color;
        font-family: "Poppins";
        font-size: $font-size;
        margin: 25px;
        padding-top: 15px !important;
        padding-left: 35px !important;
        small {
            font-family: inherit;
            margin: 6px 0 10px 10px;
        }
        p {
            font-family: inherit;
            font-size: inherit;
            margin: 0 20px 0 0;
        }
        h1 {
            font-family: inherit;
            font-size: $font-size*1.5;
        }
        ul {
            padding: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        ul li {
            padding: 10px 0;
            display: inline;
            flex-grow: 1;
            text-align: center;
        }
        .mail-form {
            display: flex;
            flex-flow: column;
            background: inherit;
            font-family: inherit;
            font-size: inherit;
            border-radius: 14px;
            input[type=email],
            select {
                font-family: inherit;
                font-size: inherit;
                padding: 3px 15px;
                width: 30%;
                border-radius: 14px;
                border: 1px solid #ccc;
                margin: 20px 0;
            }
            textarea,
            select {
                font-family: inherit;
                font-size: inherit;
                padding: 10px 10px;
                width: 60%;
                border-radius: 14px;
                border: 1px solid #ccc;
            }
        }
        button {
            background-color: $title-bar-back-color;
            color: white;
            transition-duration: 0.4s;
            font-family: "Poppins";
            border-radius: 15px;
            padding: 0px 10px;
            margin: 10px 10px;
        }
        button:hover {
            background-color: rgb(176, 3, 192);
            color: white;
            display: inline-block; // Keeps the buttons in a row
        }
    }
}

@media all and (min-width: 801px) {
    .contact-content {
        grid-area: $content;
        height: 90%;
        border-radius: 18px;
        background: $content-back-color;
        box-shadow: -5px 5px 10px $content-shadow-color, -1px 1px 5px $content-shadow-color;
        font-family: "Poppins";
        font-size: $font-size;
        margin: 25px;
        padding-top: 15px !important;
        padding-left: 35px !important;
        small {
            font-family: inherit;
            margin: 6px 0 10px 10px;
        }
        p {
            font-family: inherit;
            font-size: inherit;
            margin: 0 20px 0 0;
        }
        h1 {
            font-family: inherit;
            font-size: $font-size*1.5;
        }
        ul {
            padding: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        ul li {
            padding: 10px 0;
            display: inline;
            flex-grow: 1;
            text-align: center;
        }
        .mail-form {
            display: flex;
            flex-flow: column;
            background: inherit;
            font-family: inherit;
            font-size: inherit;
            border-radius: 14px;
            input[type=email],
            select {
                font-family: inherit;
                font-size: inherit;
                padding: 3px 15px;
                width: 30%;
                border-radius: 14px;
                border: 1px solid #ccc;
                margin: 20px 0;
            }
            textarea,
            select {
                font-family: inherit;
                font-size: inherit;
                padding: 10px 10px;
                width: 60%;
                border-radius: 14px;
                border: 1px solid #ccc;
            }
        }
        button {
            background-color: $title-bar-back-color;
            color: white;
            transition-duration: 0.4s;
            font-family: "Poppins";
            border-radius: 15px;
            padding: 0px 10px;
            margin: 10px 10px;
        }
        button:hover {
            background-color: black;
            color: white;
            transform: scale(1.3, 1.3); //Resizes the button
            display: inline-block; // Keeps the buttons in a row
        }
    }
}