.footer {
    z-index:10;
    background: $footer-back-color;
    font-size: $font-size;
    grid-area: $footer;
    font-family: $font-family;
    text-align: center;
    p a {
        text-decoration: none;
        color: $footer-text-color;
    }
}