@media all and (min-width: 900px) {
    .index-content {
        grid-area: $content;
        background: url(../img/background.png);
        background-size: cover;
        font-family: "Poppins";
        font-size: $font-size;
        position: relative;
    }
    .index-main-block {
        padding: 15px;
        margin: auto;
        background-color: rgba(255, 255, 255, .7);
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 35%;
        height: 30%;
        border: white;
        text-align: center;
    }
}

@media all and (max-width: 900px) {
    .index-content {
        grid-area: $content;
        font-family: "Poppins";
        font-size: $font-size;
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .index-main-block {
        display: table-row;
        padding: 15px;
        background-color: rgba(255, 255, 255, .7);
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        border: white;
        text-align: center;
    }
}