$font-size: 14px;
$font-family: "Poppins";
//Colors
$title-bar-back-color: rgb(10, 10, 10); //#bbe1ff; //#5fdde5
$title-bar-text-color: #f2f2f2;
$footer-back-color: black;
$footer-text-color: #f2f2f2;
$content-back-color: #fafbfb;
$content-shadow-color: #cbced2;
$lateral-bar-back-color: #00A5CF;
$about-content-back-cv: #00A5CF;
$about-content-back-now: #FFD55D;
$about-content-back-knowledge: #06D6A0;
$about-content-back-description: #FF3C38;
$about-content-font-color: black;
//Grid variables.
$title-bar: title-bar;
$lateral-bar: lateral-bar;
$footer: footer;
$content: web-content;
//Symmetrical margins
$title-bar-margin: 150px;
$responsive-margin:15px;